/*

    Custom Input Styles
	
*/
.custom{
    
	font-size:25px;
    color:#6CF;
	border:2px solid #6CF;
	
	-webkitbox-shadow:inset 0px 0.1em 0.1em rgba(0,0,0,0.3);
	 -moz-box-shadow:inset 0px 0.1em 0.1em rgba(0,0,0,0.3);
	   box-shadow:inset 0px 0.1em 0.1em rgba(0,0,0,0.3);
	

}




/*

    Example Page Styles
	
*/
body{

    font-family:Helvetica,Arial, sans-serif;
	color:#333;

}





.container{

    width:900px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:3em;
	
	
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow:0px 5px 5px rgba(0,0,0,0.2);
	-moz-box-shadow:0px 5px 5px rgba(0,0,0,0.2);
	box-shadow:0px 5px 5px rgba(0,0,0,0.2);


}

.header{
    
	border-bottom:1px solid #666;
	border-bottom:1px solid rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.9);
	-moz-box-shadow:0px 1px 0px rgba(255,255,255,0.9);
	box-shadow:0px 1px 0px rgba(255,255,255,0.9);
    
	padding:1em;
	
	background-color:#333;
	color:#FFF;
	
	-webkit-border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;

}

.header h2{

    text-align:center;
	font-size:45px;
	
	
	
	color:#ff0084;
	text-shadow:1px 2px 0px #b20d62;

}

.header p{

    text-align:center;

}



.label{

    margin-bottom:10px;

}

.section{

    margin-bottom:2em;
	
	padding:0.4em;
	padding-bottom:2em;
	
	
	border-bottom:1px solid rgba(0,0,0,0.1);
	box-shadow:0px 1px 0px rgba(255,255,255,0.9);
	-webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.9);
	-moz-box-shadow:0px 1px 0px rgba(255,255,255,0.9);


}


.content-body{

    
    padding:1em;
	padding-top:3em;
	background-color:#F9F9F9;
	
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;

}